body {
    background: #888;
    margin: 0;
}
.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);

}
.tile {
    height: 100px;
    background: #444;
    border: 5px solid #333;
    cursor: pointer;
}